<mat-card>
  <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="auth.register(form.value)">
          <mat-form-field>
            <input formControlName="email" type="email" matInput placeholder="E-Mail">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!form.valid">Register</button>
      </form>
  </mat-card-content>
</mat-card>
